{%extends 'patient_base.html'%}
<!-- extended -->
{%load static%}
<!-- static loaded -->

{%block main_content%}
<!-- start -->
<section class="w3l-main-slider position-relative" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-center">
                                    <h4 class="sub-font">Easy Online Scheduling</h4>
                                    <h5>We Cover Large Range of Cleaning Services </h5>
                                    <div class="banner-buttons mt-4">
                                        <a class="btn btn-style-1 btn-primary" href="services.html">Our
													Services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-center">
                                    <h4 class="sub-font">Discover the Great Benefits</h4>
                                    <h5>We Are the best Cleaning Service Provider</h5>
                                    <div class="banner-buttons mt-4">
                                        <a class="btn btn-style-1 btn-primary" href="services.html">Our
													Services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-center">
                                    <h4 class="sub-font">Easy Online Scheduling</h4>
                                    <h5>We Cover Large Range of Cleaning Services </h5>
                                    <div class="banner-buttons mt-4">
                                        <a class="btn btn-style-1 btn-primary" href="services.html">Our
													Services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg text-center">
                                    <h4 class="sub-font">Discover the Great Benefits</h4>
                                    <h5>We Are the best Cleaning Service Provider</h5>
                                    <div class="banner-buttons mt-4">
                                        <a class="btn btn-style-1 btn-primary" href="services.html">Our
													Services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>

        </div>

    </div>

</section>
<section class="w3l-wecome-content-6">
    <!-- /content-6-section -->
    <div class="ab-content-6-mian py-5">
        <div class="container py-lg-3">
            <div class="title-head text-left mb-4">
                <h6 class="sub-title">About Digital Sheba</h6>
                <h3 class="hny-title">
                    The Best <span>Health Care System</span> </h3>
            </div>
            <div class="welcome-grids align-items-center row">

                <div class="col-lg-6 mb-lg-0">
                    <p class="mb-4">Excepteur sint occaecat non proident, sunt in culpa quis.<span class="p-ab"> Phasellus lacinia
								id erat eu ullamcorper. Nunc id ipsum fringilla,
								gravida felis vitae. Phasellus lacinia id, sunt in culpa quis. Phasellus lacinia</span></p>
                    <p class="p-ab mb-4">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper. Nunc id ipsum fringilla.</p>
                    <a class="btn btn-style btn-primary mt-lg-4 mt-3" href="services.html">Read More</a>
                </div>
                <div class="col-lg-6 welcome-image">
                    <img src="{%static 'patient/'%}assets/images/ab1.jpg" class="img-fluid" alt="" />
                </div>

            </div>

        </div>
    </div>
</section>
<!-- //content-6-section -->
<!-- /featured-services-->
<section class="w3l-features-4" id="services">
    <div class="features4-block py-5">
        <div class="container py-lg-3">
            <div class="title-head text-center mb-lg-5 mb-4">
                <h6 class="sub-title">Most Popular</h6>
                <h3 class="hny-title">
                    Our <span>Quality</span> Services</h3>
            </div>
            <div class="features4-grids text-left row">
                <div class="features4-grid">
                    <div class="features4-grid-inn">
                        <div class="icon-fea4">
                            <span class="fa fa-shopping-bag" aria-hidden="true"></span>
                        </div>
                        <h5><a href="#URL">Shopping</a></h5>
                        <p>Lorem ipsum viverra <span class="p-ab">feugiat. Pellen tesque libero ut justo,
									ultrices in ligula. Semper at tempufddfel.</span> </p>
                        <div class="read-arrow text-right mt-md-4 mt-3">
                            <a href="services.html"><span class="fa fa-arrow-right"
											aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="features4-grid">
                    <div class="features4-grid-inn">
                        <div class="icon-fea4">
                            <span class="fa fa-american-sign-language-interpreting " aria-hidden="true"></span>
                        </div>
                        <h5><a href="#URL">Repairs</a></h5>
                        <p>Lorem ipsum viverra <span class="p-ab">feugiat. Pellen tesque libero ut justo,
									ultrices in ligula. Semper at tempufddfel.</span> </p>
                        <div class="read-arrow text-right mt-md-4 mt-3">
                            <a href="services.html"><span class="fa fa-arrow-right"
											aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="features4-grid">
                    <div class="features4-grid-inn">
                        <div class="icon-fea4">
                            <span class="fa fa-fire-extinguisher" aria-hidden="true"></span>
                        </div>
                        <h5><a href="#URL">Spring</a></h5>
                        <p>Lorem ipsum viverra <span class="p-ab">feugiat. Pellen tesque libero ut justo,
									ultrices in ligula. Semper at tempufddfel.</span> </p>
                        <div class="read-arrow text-right mt-md-4 mt-3">
                            <a href="services.html"><span class="fa fa-arrow-right"
											aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="features4-grid">
                    <div class="features4-grid-inn">
                        <div class="icon-fea4">
                            <span class="fa fa-gavel" aria-hidden="true"></span>
                        </div>
                        <h5><a href="#URL">Carpenter</a></h5>
                        <p>Lorem ipsum viverra <span class="p-ab">feugiat. Pellen tesque libero ut justo,
									ultrices in ligula. Semper at tempufddfel.</span> </p>
                        <div class="read-arrow text-right mt-md-4 mt-3">
                            <a href="services.html"><span class="fa fa-arrow-right"
											aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="features4-grid">
                    <div class="features4-grid-inn">
                        <div class="icon-fea4">
                            <span class="fa fa-bed" aria-hidden="true"></span>
                        </div>
                        <h5><a href="#URL">Shifting</a></h5>
                        <p>Lorem ipsum viverra <span class="p-ab">feugiat. Pellen tesque libero ut justo,
									ultrices in ligula. Semper at tempufddfel.</span> </p>
                        <div class="read-arrow text-right mt-md-4 mt-3">
                            <a href="services.html"><span class="fa fa-arrow-right"
											aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="features4-grid">
                    <div class="features4-grid-inn">
                        <div class="icon-fea4">
                            <span class="fa fa-bath" aria-hidden="true"></span>
                        </div>
                        <h5><a href="#URL">Plumbing</a></h5>
                        <p>Lorem ipsum viverra <span class="p-ab">feugiat. Pellen tesque libero ut justo,
									ultrices in ligula. Semper at tempufddfel.</span> </p>
                        <div class="read-arrow text-right mt-md-4 mt-3">
                            <a href="services.html"><span class="fa fa-arrow-right"
											aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //featured-services-->
<!-- /content-4-section -->
<section class="w3l-content-4">
    <!-- /content-6-section -->
    <div class="content-4-main py-5">
        <div class="container py-lg-5">
            <div class="title-head text-center mb-4">
                <h6 class="sub-title">Our Process</h6>
                <h3 class="hny-title">How Its <span>Works</span></h3>
            </div>
            <div class="content-info-in row">
                <div class="content-left col-lg-6">
                    <img src="{%static 'patient/'%}assets/images/ab2.jpg" class="img-fluid mt-lg-0 mt-3" alt="">
                </div>
                <div class="content-right col-lg-6 pl-lg-5">

                    <div class="row content4-right-grids mb-3">
                        <div class="col-md-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-file-text"></span>
                            </div>
                        </div>
                        <div class="col-md-10 content4-right-info pl-lg-0">
                            <h6><a href="#">Book Service</a></h6>
                            <p>Lorem ipsum dolor sit amet<span class="p-ab">,Ea consequuntur illum facere aperiam sequi optio
										consectetur</span></p>
                        </div>

                    </div>
                    <div class="row content4-right-grids mb-3">
                        <div class="col-md-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-sliders"></span>
                            </div>
                        </div>
                        <div class="col-md-10 content4-right-info pl-lg-0">
                            <h6><a href="#">
											Service Delivery</a></h6>
                            <p>Lorem ipsum dolor sit amet<span class="p-ab">,Ea consequuntur illum facere aperiam sequi optio
												consectetur</span></p>
                        </div>

                    </div>
                    <div class="row content4-right-grids">
                        <div class="col-md-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-thumbs-up"></span>
                            </div>
                        </div>
                        <div class="col-md-10 content4-right-info pl-lg-0">
                            <h6><a href="#">
											Payment & Leave Feedback</a></h6>
                            <p>Lorem ipsum dolor sit amet<span class="p-ab">,Ea consequuntur illum facere aperiam sequi optio
												consectetur</span></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //content-4-section -->
<!-- portfolio -->
<section class="w3l-portfolio-8 py-5">
    <div class="portfolio-main py-lg-3">
        <div class="container">
            <div class="title-content text-center">
                <h6 class="sub-title">Gallery</h6>
                <h3 class="hny-title">Our <span>Latest</span> Projects</h3>
            </div>
            <div class="row galler-top mt-lg-5 mt-4">
                <div class="col-lg-4 protfolio-item hover14 align-self">
                    <a href="{%static 'patient/'%}assets/images/ab1.jpg" data-lightbox="example-set" class="mb-4" data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="{%static 'patient/'%}assets/images/ab1.jpg" alt="product" class="img-fluid ">
                        </figure>
                    </a>
                    <a href="{%static 'patient/'%}assets/images/ab2.jpg" data-lightbox="example-set" data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="{%static 'patient/'%}assets/images/ab2.jpg" alt="product" class="img-fluid ">
                        </figure>
                    </a>
                </div>
                <div class="col-lg-4 protfolio-item hover14">
                    <a href="{%static 'patient/'%}assets/images/ab3.jpg" data-lightbox="example-set" class="mb-4" data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="{%static 'patient/'%}assets/images/ab3.jpg" alt="product" class="img-fluid ">
                        </figure>
                    </a>
                    <a href="{%static 'patient/'%}assets/images/ab4.jpg" data-lightbox="example-set" data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="{%static 'patient/'%}assets/images/ab4.jpg" alt="product" class="img-fluid ">
                        </figure>
                    </a>
                </div>
                <div class="col-lg-4 protfolio-item hover14">
                    <a href="{%static 'patient/'%}assets/images/ab5.jpg" data-lightbox="example-set" class="mb-4" data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="{%static 'patient/'%}assets/images/ab5.jpg" alt="product" class="img-fluid ">
                        </figure>
                    </a>
                    <a href="{%static 'patient/'%}assets/images/ab6.jpg" data-lightbox="example-set" data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="{%static 'patient/'%}assets/images/ab6.jpg" alt="product" class="img-fluid ">
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //portfolio -->
<!-- /w3l-newsletter-->
<section class="w3l-newsletter">
    <div class="form-25-mian py-5">
        <div class="container py-lg-4">
            <div class="forms-25-info">
                <span class="sub-title-1">Stay Updated!</span>
                <h3 class="hny-title two">Lets Stay <span>In Touch</span></h3>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>

                <form action="#" method="post" class="signin-form mt-4 mb-2">
                    <div class="forms-gds">

                        <input type="email" name="" placeholder="Email address" required />

                        <button class="btn"><span class="fa fa-envelope-o" aria-hidden="true"></span></button>
                    </div>
                    <p class="action-link">Subscribe to our free weekly newsletter for new update releases (no spam)
                    </p>

                </form>
            </div>
        </div>
    </div>
</section>
<!-- //w3l-newsletter-->
<!-- /blognhy-grids-->
<section class="w3l-postnhy-grids">
    <div class="postnhy-grids-inner py-5">
        <div class="container py-lg-3">
            <div class="title-head text-center mb-lg-5 mb-4">
                <h6 class="sub-title">View Posts</h6>
                <h3 class="hny-title">
                    Our <span>Latest</span> Posts</h3>
            </div>
            <!-- /owl-slider-->
            <div class="posthny-slides pb-lg-5 pb-4">
                <div class="owl-two owl-carousel owl-theme">
                    <div class="item">
                        <div class="posthny-grid mb-4">
                            <div class="posthny-grid-inn">
                                <a href="services.html"><img src="{%static 'patient/'%}assets/images/ab1.jpg" class="img-fluid" alt=""></a>
                                <h5><a href="services.html">Residential Cleaning</a></h5>
                                <p>Lorem ipsum viverra <span class="p-ab">feugiat. Pellen tesque libero ut justo,
											ultrices in ligula. Semper at tempufddfel.</span> </p>
                                <div class="read-arrow text-right mt-md-4 mt-3">
                                    <a href="services.html"><span class="fa fa-arrow-right"
													aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="posthny-grid mb-4">
                            <div class="posthny-grid-inn">
                                <a href="services.html"><img src="{%static 'patient/'%}assets/images/ab2.jpg" class="img-fluid" alt=""></a>
                                <h5><a href="services.html">Commercial Cleaning</a></h5>
                                <p>Lorem ipsum viverra <span class="p-ab">feugiat. Pellen tesque libero ut justo,
											ultrices in ligula. Semper at tempufddfel.</span> </p>
                                <div class="read-arrow text-right mt-md-4 mt-3">
                                    <a href="services.html"><span class="fa fa-arrow-right"
													aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="posthny-grid mb-4">
                            <div class="posthny-grid-inn">
                                <a href="services.html"><img src="{%static 'patient/'%}assets/images/ab3.jpg" class="img-fluid" alt=""></a>
                                <h5><a href="services.html">After Renovation</a></h5>
                                <p>Lorem ipsum viverra <span class="p-ab">feugiat. Pellen tesque libero ut justo,
											ultrices in ligula. Semper at tempufddfel.</span> </p>
                                <div class="read-arrow text-right mt-md-4 mt-3">
                                    <a href="services.html"><span class="fa fa-arrow-right"
													aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="posthny-grid mb-4">
                            <div class="posthny-grid-inn">
                                <a href="services.html"><img src="{%static 'patient/'%}assets/images/ab4.jpg" class="img-fluid" alt=""></a>
                                <h5><a href="services.html">Cleaning with Care</a></h5>
                                <p>Lorem ipsum viverra <span class="p-ab">feugiat. Pellen tesque libero ut justo,
											ultrices in ligula. Semper at tempufddfel.</span> </p>
                                <div class="read-arrow text-right mt-md-4 mt-3">
                                    <a href="services.html"><span class="fa fa-arrow-right"
													aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="posthny-grid mb-4">
                            <div class="posthny-grid-inn">
                                <a href="services.html"><img src="{%static 'patient/'%}assets/images/ab5.jpg" class="img-fluid" alt=""></a>
                                <h5><a href="services.html">Sparkling results</a></h5>
                                <p>Lorem ipsum viverra <span class="p-ab">feugiat. Pellen tesque libero ut justo,
											ultrices in ligula. Semper at tempufddfel.</span> </p>
                                <div class="read-arrow text-right mt-md-4 mt-3">
                                    <a href="services.html"><span class="fa fa-arrow-right"
													aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="posthny-grid mb-4">
                            <div class="posthny-grid-inn">
                                <a href="services.html"><img src="{%static 'patient/'%}assets/images/ab6.jpg" class="img-fluid" alt=""></a>
                                <h5><a href="services.html">We clean everything.</a></h5>
                                <p>Lorem ipsum viverra <span class="p-ab">feugiat. Pellen tesque libero ut justo,
											ultrices in ligula. Semper at tempufddfel.</span> </p>
                                <div class="read-arrow text-right mt-md-4 mt-3">
                                    <a href="services.html"><span class="fa fa-arrow-right"
													aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //owl-slider-->
        </div>
    </div>
</section>
<!-- //posts-->
<!-- middle -->
<div class="w3l-middle py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="row align-items-center">
            <div class="welcome-left col-lg-6">
                <div class="title-head text-left">
                    <h6 class="sub-title-1">We fix it</h6>
                    <h3 class="hny-title two">
                        Repairing the world one <span>light bulb </span> at a time.</h3>
                    <p class="mt-3">Lorem ipsum viverra feugiat. <span class="p-ab">Pellen tesque libero ut justo,
								ultrices in ligula. Semper at tempufddfel.Lorem ipsum viverra feugiat. Pellen tesque
								libero ut justo,.</span> </p>
                </div>
            </div>
            <div class="welcome-right text-lg-right col-lg-6">
                <a href="contact.html" class="btn btn-style-1 btn-primary mt-sm-5 mt-4">Contact Us</a>
            </div>
        </div>
    </div>
</div>
<!-- //middle -->
<!-- stats -->
<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-md-4">
        <div class="row stats-con text-white">
            <div class="col-lg-3 col-6 stats_info counter_grid">
                <p class="counter">645</p>
                <h4>Completed Projects</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid1">
                <p class="counter">329</p>
                <h4>Awards</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid mt-md-0 mt-5">
                <p class="counter">63</p>
                <h4>Our Branches</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid2 mt-md-0 mt-5">
                <p class="counter">1045</p>
                <h4>Happy Clients</h4>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->
<!--/testimonials-->
<section class="w3l-testimonials">
    <div class="testimonials py-5">
        <div class="container text-center py-lg-3">
            <div class="title-content text-center mb-lg-5 mb-4">
                <h6 class="sub-title">Testimonials</h6>
                <h3 class="hny-title">What <span>our clients</span> say?</h3>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="owl-testimonial owl-carousel owl-theme">
                        <div class="item">
                            <div class="slider-info position-relative mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="{%static 'patient/'%}assets/images/c2.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="quote"><span class="fa fa-quote-left" aria-hidden="true"></span>
                                </div>
                                <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="p-ab"> Ea sit
											id
											accusantium
											officia quod quasi necessitatibus perspiciatis Harum error provident
											quibusdam tenetur.</span></div>
                                <div class="name">- Jenkins</div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info position-relative mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="{%static 'patient/'%}assets/images/c1.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="quote"><span class="fa fa-quote-left" aria-hidden="true"></span>
                                </div>
                                <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="p-ab"> Ea sit
											id
											accusantium
											officia quod quasi necessitatibus perspiciatis Harum error provident
											quibusdam tenetur.</span></div>
                                <div class="name">- John Balmer</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info position-relative mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="{%static 'patient/'%}assets/images/c1.jpg" class="img-fluid rounded" alt="client image">

                                </div>
                                <div class="quote"><span class="fa fa-quote-left" aria-hidden="true"></span>
                                </div>
                                <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="p-ab"> Ea sit
											id
											accusantium
											officia quod quasi necessitatibus perspiciatis Harum error provident
											quibusdam tenetur.</span></div>
                                <div class="name">- Elizabeth</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end -->
{%endblock main_content%}