{%load static%}
<footer class="site-footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="foot-about">
                        <h2>
                            <a href="#"><img src="{%static 'front/images/new.png'%}" alt=""></a>
                        </h2>

                        <p>We are here to convoy with your disease. We are always ready to serve you as much as we can</p>

                    </div>
                    <!-- .foot-about -->
                </div>
                <!-- .col -->

                <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                    <div class="foot-contact">
                        <h2>Contact</h2>

                        <ul class="p-0 m-0">
                            <li><span>Addtress:</span>Dhaka 2950 Bagan Bari Road</li>
                            <li><span>Phone:</span>+8801762178238</li>
                            <li><span>Email:</span>pghospital.dhaka@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <!-- .col -->

                <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                    <div class="foot-links">
                        <h2>Usefull Links</h2>

                        <ul class="p-0 m-0">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="elements.html">Departments</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="news.html">FAQ</a></li>
                            <li><a href="services.html">Testimonials</a></li>
                        </ul>
                    </div>
                    <!-- .foot-links -->
                </div>
                <!-- .col -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- .footer-widgets -->
</footer>
<!-- .site-footer -->