{%load static%}

<style>
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
</style>

<header class="site-header">
    <div class="nav-bar">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                    <div class="site-branding d-flex align-items-center">
                        <a class="d-block" href="/" rel="home"><img class="d-block" src="{%static 'front/'%}images/new.png" alt="logo" style="height: 45px; width: 75px;"></a>
                    </div>
                    <!-- .site-branding -->

                    <nav class="site-navigation d-flex justify-content-end align-items-center">
                        <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                            <li class="current-menu-item"><a href="/">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>

                            <li class="call-btn button gradient-bg mt-3 mt-md-0">
                                <a class="d-flex justify-content-center align-items-center" href="#"><img src="{%static 'front/'%}images/emergency-call.png"> +8801762178238</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- .site-navigation -->

                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <!-- .hamburger-menu -->
                </div>
                <!-- .col -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- .nav-bar -->
</header>
<!-- .site-header -->